/*=====Mobile version=====*/
.features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-icon-wrapper {
    display: none;
}

.features-subtitle {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: #2E2F42;

    text-align: center;
}

.features-text {
    width: 264px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
    text-align: left;
}


/*=====Tablet version=====*/
@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;

        text-align: left;
    }

    .features-text {
        width: 356px;
    }
}



/*=====Desktop version=====*/
@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }


    .features-icon {
        fill: #2e2f42;
    }

    .features-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 264px;
        height: 112px;

        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
}