/*=====Mobile version=====*/
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

/*=====Tablet version=====*/

@media screen and (min-width: 768px) {
    .header {
        border-bottom: 1px solid #E7E9FC;
    }

    .header .container {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        color: #2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404BBF;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }

    .address {
        font-style: normal;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        gap: 40px;
    }

    .contacts-link {
        color: #434455;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*=====Desktop version=====*/

@media screen and (min-width: 1158px) {

    .logo {
        margin-right: 76px;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404BBF;
    }
}